---
import DesignLayout from "~/layouts/DesignLayout.astro";
import Heading from "../../components/Heading/";
---

<DesignLayout
    title="Site Design"
    description="Display of the site design system."
>
    <main>
        <Heading level={1}>Design System</Heading>
    </main>
</DesignLayout>
