---
const { to, addedStyles, isActive = false, ...rest } = Astro.props;
---

<a
  href={to}
  aria-current={isActive}
  class:list={["navigation-header-link", addedStyles]}
  {...rest}
>
  <slot />
</a>

<style lang="scss">
  @use "mixins";

  .navigation-header-link {
    @include mixins.padding-box("sm");
    color: var(--color-text);
    font-weight: var(--font-weight-semi-bold);
    text-decoration: none;
    @include mixins.radius;
    @include mixins.focus-ring;

    &:hover {
      //   background: var(--color-primary-400);
    }

    &:visited {
      color: inherit;
    }

    &[aria-current="true"] {
      color: var(--color-text-muted);
    }
  }
</style>
