---
import BaseHead from "~/components/BaseHead.astro";
import Navbar from "./Navbar.astro";
import SiteFooter from "./SiteFooter.astro";
import SiteHeader from "./SiteHeader.astro";

const { title, description, headerMode } = Astro.props;

let type = "developer";
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <SiteHeader type={type}>
      <Navbar />
    </SiteHeader>
    <slot />
    <SiteFooter type={type} />
  </body>
</html>
